<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332958643290-9kk34brid23fnl5chnruug38t9blkrcu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332958643290-9kk34brid23fnl5chnruug38t9blkrcu</string>
	<key>API_KEY</key>
	<string>AIzaSyBUx1xkML15ADK4lrPJBZkkJLYtCLSqw6A</string>
	<key>GCM_SENDER_ID</key>
	<string>332958643290</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mojtama</string>
	<key>PROJECT_ID</key>
	<string>mojtama-3e50c</string>
	<key>STORAGE_BUCKET</key>
	<string>mojtama-3e50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332958643290:ios:b3f54afd8506d73df01463</string>
</dict>
</plist>